*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main-section{
  display: flex;
  
  align-items: center;
  justify-content: space-between;
  width: 800px;
  margin: 60px;
}

.img1{
    width: 90px;
    height: 90px;
    border-radius: 45px;
}
.child1{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    align-items: center;

}
.child1-1{
    display: flex;
    flex-direction: column;
    padding: 20px;

}
p{
    color: gray;
    font-weight: bold;
}
button{
    background-color: rgb(57, 57, 241);
    color: white;
    padding: 22px;
    border-radius: 10px;
    width: 150px;
    /* font-weight: bold; */
    font-size: medium;
}